html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: #FFF7E7;
}

#steplist {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	z-index: 100;
}

#steplist a {
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 28px;
	text-decoration: none;
	font-family: sans-serif;
	text-align: center;
	margin: 0 1px 0 0;
	padding: 0;
	border: none;
	background: #ccc;
	color: black;
}

#steplist a:hover {
	background: #eee;
}

/* Show buttons only when a clickOnce event listener is attached */

button {
	display: none;
}

button.clickable {
	display: block;
}

.screen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.clickable {
	cursor: pointer;
	/*-webkit-animation: glow 1s ease-in-out 0 infinite alternate;*/
	background: #FF0;
	box-shadow: 0 0 25px #FF0;
	-webkit-box-shadow: 0 0 25px #FF0;
}

.stage {
	display: none;
	width: 100%;
	height: 100%;
	background: #FFF7E7;
}

.stage.current {
	display: block;
}

.stage > * {
	position: absolute;
}

.character {
	display: block;
	position: absolute;
	width: 25%;
	padding-bottom: 37.5%;
	box-sizing: border-box;

	z-index: 10;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
}

.object.auto {
	background-image: url(assets/objects/auto.svg);
}

.object.bezem {
	background-image: url(assets/objects/bezem.svg);
	background-size: auto 100%;
	padding-top: 25%;
}

.object.boek {
	background-image: url(assets/objects/boek.svg);
	background-size:  100% auto;
}

.object.emmer {
	background-size: auto 100%;
	background-image: url(assets/objects/emmer.svg);
}

.object.gitaar {
	background-image: url(assets/objects/gitaar.svg);
}

.object.hamer {
	background-image: url(assets/objects/hamer.svg);
}

.object.hoed {
	background-image: url(assets/objects/hoed.svg);
}

.object.kopje {
	background-image: url(assets/objects/kopje.svg);
}

.object.lamp {
	background-image: url(assets/objects/lamp.svg);
	background-size: auto 100%;
}

.object.lepel {
	background-image: url(assets/objects/lepel.svg);
}

.object.klok {
	background-image: url(assets/objects/klok.svg);
}

.object.paraplu {
	background-image: url(assets/objects/paraplu.svg);
}

.object.pen {
	background-image: url(assets/objects/pen.svg);
}

.object.rugzak {
	background-image: url(assets/objects/rugzak.svg);
	background-size: auto 100%;
}

.object.roos {
	background-image: url(assets/objects/roos.svg);
}

.object.schaar {
	background-image: url(assets/objects/schaar.svg);
}

.object.schoen {
	background-image: url(assets/objects/schoen.svg);
}

.object.sjaal {
	background-image: url(assets/objects/sjaal.svg);
}

.object.skateboard {
	background-image: url(assets/objects/skateboard.svg);
}

.object.sleutel {
	background-image: url(assets/objects/sleutel.svg);
}

.object.stoel {
	background-size: 100% auto;
	padding-top: 25%;
	background-image: url(assets/objects/stoel.svg);
}

.object.tandenborstel {
	background-image: url(assets/objects/tandenborstel.svg);
}

.object.vlag {
	background-image: url(assets/objects/vlag.svg);
	background-size: auto 100%;
}

.object.vliegtuig {
	background-image: url(assets/objects/vliegtuig.svg);
}

.object.voetbal {
	background-image: url(assets/objects/voetbal.svg);
	background-size: 80%;
}

.object.zonnebril {
	background-image: url(assets/objects/zonnebril.svg);
}

/* Scene 0 */

.start-button,
.next-button,
.next-stage-button,
.thank-you {
	width: 40%;
	height: 20%;
	top: 40%;
	left: 30%;
	z-index: 10;
	font-size: 200%;
}

.next-stage-button {
    position: absolute;
    font-weight: bold;
}

.replay-button {
    bottom: 1%;
    left: 1%;
    width: 20%;
    height: 10%;
    font-size: 150%;
}

/* Scene 1 */

.stage {
	background-color: #FFF7E7;
	background-position: 0 100%;
	background-size: auto 130%;
	background-repeat: no-repeat;
}

.stage.meadow {
	background-image: url(assets/environment/horizon_default.svg);
}

.stage.shifted {
	background-position-x: 20%;
}

.stage.shifted-2 {
	background-position-x: 60%;
}

.stage.deeper {
	background-size: auto 130%;
}

.stage.path:after,
.stage.path-in-background:after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	content: '';
	background-image: url(assets/environment/path.svg);
	background-size: auto 20%;
	background-position: 0 85%;
	background-repeat: no-repeat;
}

.stage.path-in-background:after {
	background-size: auto 15%;
	background-position: 0 80%;
}

.stage.crossing {
	background-position-x: 25%;
}

.stage.crossing:after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	content: '';
	background-image: url(assets/environment/path.svg), url(assets/environment/path_crossing.svg);
	background-size: auto 20%, 80% auto;
	background-position: 0 85%, right bottom;
	background-repeat: no-repeat;
}

.stage.cave {
	background-image:
		url(assets/environment/cave_exterior.svg),
		url(assets/environment/horizon_default.svg);

	background-size: auto 100%, auto 130%;
	background-position: right bottom, 20% 100%;
}

.stage.cave.rain {
	background-image:
		url(assets/environment/rain.svg),
		url(assets/environment/cave_exterior.svg),
		url(assets/environment/horizon_default.svg);

	background-size: auto 115%, auto 100%, auto 130%;
	background-position: right top, right bottom, 20% 100%;
}

.stage.inside-cave.rain {
	background-image:
		url(assets/environment/cave_interior.svg),
		url(assets/environment/rain.svg),
		url(assets/environment/horizon_default.svg);

	background-size: cover, auto 100%, auto 130%;
	background-position: left center, right bottom, 20% 100%;
}

.stage.inside-cave.deep {
	background-image:
		url(assets/environment/stones_cave.svg),
		url(assets/environment/cave_interior.svg);

	background-size: auto 35%, auto 100%;
	background-position: 70% 70%, right center;
}

.stage.flower-field {
	background-image:
		url(assets/environment/flower_field_1.svg),
		url(assets/environment/horizon_default.svg);

	background-size: auto 120%, auto 130%;
	background-position: left bottom, 30% 100%;
}

.stage.flower-field.characters-right {
	background-image:
		url(assets/environment/flower_field_2.svg),
		url(assets/environment/horizon_default.svg);

	background-position: left bottom, 30% 100%;
}

.stage.flower-field.with-sunflower {
	background-image:
		url(assets/environment/flower_field_3.svg),
		url(assets/environment/horizon_default.svg);

	background-size: auto 120%, auto 130%;
	background-position: left bottom, 40% 100%;
}

.stage.lake {
	background-image:
		url(assets/environment/pond.svg),
		url(assets/environment/horizon_default.svg);

	background-size: 250vh auto, auto 130%;
	background-position: left -25vw bottom -30vh, left 20% bottom 10vh;	
}

.stage.lake.before {
	background-size: 150vh auto, auto 130%;
	background-position: left 80vh bottom -5vh, 0% 100%;
}

.stage.rock {
	background-image:
		url(assets/environment/rock.svg),
		url(assets/environment/horizon_default.svg);

	background-size: 350vh auto, auto 130%;
	background-position: center bottom -60vw, left bottom;
}

.stage.rock.before {
	background-size: auto 140vh, auto 130%;
	background-position: left 70vh bottom -40vh, left 40% bottom 0;
}

.stage.rock.before:after {
	content: '';
	position: absolute;
	height: 10vh;
	width: 20vh;
	bottom: 15vh;
	left: 90vh;
	background-image: url(assets/environment/stones_rock.svg);
	background-size: 100% auto;
	background-position: center bottom;
}

.stage.rock.after {
	background-image:
		url(assets/environment/rock_flipped.svg),
		url(assets/environment/horizon_default.svg);

	background-size: auto 140vh, auto 130%;
	background-position: left -250vh bottom -40vh, left 30% bottom 0;
}

.stage.bridge {
	background-image:
		url(assets/environment/path_river.svg),
		url(assets/environment/horizon_default.svg);

	background-size: auto 80vh, auto 130%;
	background-position: left -85vh bottom, left 30% bottom 0;
}

.stage.bridge.before {
	background-position: left -35vh bottom, left 15% bottom 0;	
}


/* Standing */

.character.dog.facing-left,
.character.dog.facing-right {
	background-image: url(assets/dog/dog_half_front.svg);	
}

.character.dog.facing-left.ashamed
.character.dog.facing-right.ashamed, {
	background-image: url(assets/dog/dog_ashamed_half_front.svg);
}

.character.dog.facing-left.walking
.character.dog.facing-right.walking, {
	background-image: url(assets/dog/dog_walking.svg);
}

.character.dog.facing-back {
	background-image: url(assets/dog/dog_back.svg);	
}

.character.dog.sleeping {
	width: 45vh;
	background-image: url(assets/dog/dog_sleeping.svg);
}

.character.dog.walking {
	background-image: url(assets/dog/dog_walking.svg);
}

.character.dog.ashamed {
	background-image: url(assets/dog/dog_ashamed_half_front.svg);
}

.character.elephant.front {
	background-image: url(assets/elephant/elephant_front.svg);
}

.character.monkey.front {
	background-image: url(assets/monkey/monkey_front.svg);
}

.character.elephant.facing-left,
.character.elephant.facing-right {
	background-image: url(assets/elephant/elephant_half_front.svg);
}

.character.monkey.facing-left,
.character.monkey.facing-right {
	background-image: url(assets/monkey/monkey_half_front.svg);
}

.character.monkey.swimming.facing-left,
.character.monkey.swimming.facing-right {
	height: 40vh;
	background-image: url(assets/monkey/monkey_swimming.svg);
}

.character.elephant.swimming.facing-left,
.character.elephant.swimming.facing-right {
	height: 40vh;
	background-image: url(assets/elephant/elephant_swimming.svg);
}


.character.facing-right {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.stage .left {
	bottom: 15%;
	left: 10%;
}

.stage .right {
	bottom: 15%;
	right: 10%;
}

.stage .center {
	bottom: 5vh;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.stage .left-left {
	bottom: 15%;
	left: 3%;
}

.stage .left-right {
	bottom: 15%;
	left: 32%;
}

.stage .right-right {
	bottom: 15%;
	right: 3%;
}

.stage .right-left {
	bottom: 15%;
	right: 32%;
}

.stage .center-left {
	bottom: 15%;
	left: 25%;
}

.stage .center-right {
	bottom: 15%;
	right: 23%;
}

.stage .back {
	bottom: 25%;
}

.stage .back.left-right {
	left: 27%;
}

.stage .character.back {
	width: 35vh;
	height: 55vh;
}

.stage .next-to-path {
	bottom: 35%;
}

.stage .before-path {
	bottom: 5%;
}

.tree.right + .object.in-tree {
	right: 20%;
	bottom: 75%;
}

.tree.left + .object.in-tree {
	left: 20%;
	bottom: 65%;
}

.stage.deep.inside-cave .object.right-right {
	bottom: 25%;
	right: 3%;
}

.stage.inside-cave .object.left-left {
	left: 3%;
	bottom: 5%;
}

.stage.before.lake .object.between-reed {
	left: 120vh;
	bottom: 45vh;
}

.stage.lake .swimming.left {
	left: 30vw;
	bottom: 35vh;
}

.stage.lake .swimming.right {
	right: 10vw;
	bottom: 35vh;
}

.stage.lake .center {
	left: 50vw;
	bottom: 5vh;
}

.stage.rock .on-rock {
	bottom: 35vh;
}

.stage.rock .object.right-right,
.stage.rock .object.left-left {
	bottom: 3vh;
}

.stage.bridge .on-bridge {
	bottom: 20vh;
	left: 115vh;
}

.stage.bridge:not(.before) .left-right {
	bottom: 20vh;
}

.stage .tree.front.right {
	bottom: 5vh;
	right: 5vh;
}

.stage .tree.front.right + .against-tree {
	right: 50vh;
	bottom: 5vh;
}



.object {
	position: absolute;
	/*width: 20vh;
	height: 20vh;*/
	width: 12.5%;
	padding-top: 12.5%;
	background-position: center bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
	z-index: 15;
}

.home {
	width: 35%;
	padding-bottom: 37.1%; /* 1.06 x 25% */
	margin-bottom: 10%;
	background-size: 100% auto;
	background-position: bottom center;
	background-repeat: no-repeat;
}

.home.monkey {
	background-image: url(assets/houses/house_monkey.svg);
}

.home.elephant {
	background-image: url(assets/houses/house_elephant.svg);
}

.tree {
	width: 40%;
	padding-top: 46.8%;
	z-index: 5;
	background: transparent url(assets/environment/tree1.svg) bottom center no-repeat;
	background-size: contain;
}

.tree.large {
	background-image: url(assets/environment/tree2.svg);
	height: 100vh;
	width: 90vh;
}

.tree.left {
	width: 55%;
	padding-top: 68.5%;
	bottom: 5%;
	left: 3%;
	z-index: 12;
}

.tree.right {
	bottom: 35%;
	right: 5%;
}

.large.tree.right-right {
	right: -30vh;
	bottom: 20%;
}

.sunflower {
	height: 60vh;
	width: 20vh;
	z-index: 5;
	background: transparent url(assets/environment/sunflower.svg) bottom center no-repeat;
	background-size: contain;
}

.sunflower.right {
	left: 100vh;
}

/* Thank you stage and form */
.thank-you {
	text-align: center;
	font: 4em sans-serif;
	display: none;
}

.personal-details {
	font: 200% sans-serif;
	line-height: 1.5em;
	max-width: 30em;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

.personal-details p {
	position: relative;
	margin: 0;
	padding: 0;
}

.personal-details p > * {
	display: inline-block;
	margin-left: 10em;
	width: 20em;
}

.personal-details label:first-child {
	position: absolute;
	margin-left: 0;
	width: 10em;
}

.personal-details label.other {
	text-indent: 1em;
}

.personal-details input {
	height: 1.5em;
	line-height: inherit;
	font: inherit;
}

.personal-details input[type=checkbox],
.personal-details input[type=radio] {
	margin: 0.5em 0 0 0;
	width: 1em;
	height: 1em;
}

.personal-details button {
	font-size: inherit;
	margin: 1em auto;
}

.done .thank-you {
	display: block;
}

.done .personal-details {
	display: none;
}

/* Update dialog */
#update-dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -200px;

	width: 400px;
	height: 100px;

	padding: 20px;

	font: 40px sans-serif;
	border: 1px solid black;
	background: white;
	display: none;
}

#update-dialog.visible {
	display: block;
}

#update-dialog progress {
	margin-top: 20px;
	width: 390px;
}

/* Progress bar */
#experiment-progress {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 100;

	width: 0;
	height: 0.5em;
	background: #2fb1e4;

	transition: width 0.25s ease-out;
	-webkit-transition: width 0.25s ease-out;
	-moz-transition: width 0.25s ease-out;
}
